
@media screen {
  body {
    background-color: black;
  }
  #registro  {
    text-align: center;
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #20D392, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3.3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    margin-top: 50px;
    font-weight: bold;
    font-family:  Verdana, Geneva, Tahoma, sans-serif ;
    transform: translateX(30.2%);
  }

  #futer {
    text-align: center;
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #20D392, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 4.05s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family:  Verdana, Geneva, Tahoma, sans-serif ;
    
  }

  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

  .navbar .nav-link:hover {
    background-color: #20D392;
    color: white;
  }


.text {
    font-weight: bold;
}


.form-group {
  width: 60%;
  margin: 0px, 0px, 0px;
  height: 100%;
}

#form {
  padding-right: 20%;
  margin-left: -80px;
  height: 100%;
  overflow-y: auto;
}


.styled-form {
  position: relative;
  z-index: 2;
  padding-left: 0%;
}



#imagen-form {
  transform: translate(80%,-120%);
  display: flex;
  width:450px ;
  height: 450px;
  transform: translate(60%, -130%);
  margin-bottom: -620px;

}

.formauto {
  display: relative;
  height: 100%;
}

.container {
  display: absolute;
  height: 900px;
}

}

@media (max-width: 412px) {
  .form-group {

    width: 100%;
    margin: 0px, 0px, 0px;
  
  }
  
  #form {
    padding-right: 20%;
    margin-left: -20px;
  
  }
  
  
  .styled-form {
    position: relative;
    z-index: 2;
    padding-left: 0%;
  }
  
  
  
  #imagen-form {
    transform: translate(10%, -160%);
    display: flex;
    width:400px ;
    height: 350px;
    opacity: 0.5;
    margin-bottom: -620px;
  
  }
  
}