body {
    width: 100%;
}
.gridAutos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
}

.title {
    font-size:medium;
}

.info {
    font-size: small;
}